<div class="container-fluid p-0">
<nav class="navbar navbar-expand-lg  ps-5 pt-0 w-100" style="background-color: #ece8e6; position:fixed; top: 0px; ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard"><img src="assets/image/18c49ce1ec7dd305506ccefdf709aae7.jpg" width="70px" alt=""><b style="color: #306d89;font-size: 23px;"> MeetingRoom</b></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>
      <ul class="navbar-nav pe-5">
          <li >
            <a routerLink="login" class="nav-link"><strong style=" font-size: 20px;">Đăng Nhập</strong> </a>
          </li>
          <li style="background-color: #306d89;">
            <a routerLink="sigin" class="nav-link"><strong style="color: white; font-size: 20px;">Đăng Ký</strong> </a>
          </li>
      </ul>
    </div>
  </div>
</nav>

  <router-outlet></router-outlet >

  <footer class="container-fluid" style="background-color: #306d89; color: white;">
      <div class="container text-center">
        <div class="row">
          <div class="col"><a class="navbar-brand" href="#"><img src="assets/image/18c49ce1ec7dd305506ccefdf709aae7.jpg" width="70px" alt=""><b style="color:#ef9e5e;font-size: 23px;"> MeetingRoom</b></a></div>
          <div class="col">Giới Thiệu về MeetingRoom</div>
          <div class="col">Việc làm</div>
          <div class="col">Ứng dụng</div>
          <div class="col">Liên hệ với chúng tôi</div>
        </div>
        <hr>
        Coopy © by NgTranAnhThu
      </div>
    </footer>
</div>

