<div class="container-fluid p-0 " style="margin-top: 80px;">
  <div class="container-fluid d-flex justify-content-center" style="background-color: #306d89; color: white; height: 50px;   ">
      <h6 class="pt-3">Đẩy nhanh quá trình làm việc nhóm của bạn ! <a href="#" style="color: #ef9e5e;" >Tìm Hiểu Thêm</a></h6>
  </div>
  <img src="assets/image/nẽn4.png" class="w-100" height="1500px"  alt="">
  <div class="container text-left position-absolute" style="top: 220px; left: 200px;" >
      <div class="row">
          <div class="col-4">
            <h1 style="color: white;">MeetingRoom tập hợp tất cả nhiệm vụ, đồng đội và công cụ của bạn lại với nhau.</h1><br>
            <p style="color: white; font-size: 20px;">Giữ mọi thứ ở cùng một nơi—ngay cả khi nhóm của bạn không như vậy.</p><br>
            <div class="input-group flex-nowrap" style="height: 60px;" >
              <input type="text" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="addon-wrapping">
              <button type="button" class="btn btn " style="background-color:#ef9e5e ; color: white;">Đăng Ký Miễn Phí </button>
            </div><br>
            <a href="#" style="color: white;">Xem Video </a> <i style="color: white;" class="fa-solid fa-play"></i>
          </div>
          <div class="col" style="padding-left: 100px;">
            <img src="assets/image/image-removebg-preview.png" width="600px" alt="">
          </div>
          <br>
          <div class="col-5">
              <h3 style="color: white;">MeetingRoom Một cường quốc năng suất.</h3><br>
              <p style="color: white;">Đơn giản, linh hoạt và mạnh mẽ. Tất cả những gì cần làm đều được
                  lập bảng, danh sách và thẻ để có thể nhìn rõ ràng về công việc ai đang làm và cần phải hoàn
                  thành những gì. <br> <a href="#">Tìm hiểu thêm hướng dẫn của chúng tôi để bắt đầu.</a> </p>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action list-group-item-info active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">
                      <b>Bảng</b><br>
                      <p >Bảng MeetingRoom giúp sắp xếp các nhiệm vụ và tiến hành công việc. Trong nháy mắt,
                          bạn có thể xem mọi thứ từ “việc cần làm” đến “ôi, vâng, chúng tôi đã làm được!”</p>
                  </a>
                  <a class="list-group-item list-group-item-action list-group-item-info" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      <b>Danh Sách</b><br>
                          <p >Các giai đoạn khác nhau của một nhiệm vụ. Bắt đầu đơn giản như Việc cần làm, Đang làm hoặc Đã hoàn thành—hoặc xây dựng quy trình
                              làm việc tùy chỉnh phù hợp với nhu cầu của nhóm bạn. Không có cách nào sai đối với MeetingRoom.</p>
                  </a>
                  <a class="list-group-item list-group-item-action list-group-item-info" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages"><b>Thẻ</b><br>
                      <p >Thẻ thể hiện nhiệm vụ, ý tưởng và chứa tất cả thông tin để hoàn thành công việc.
                          Khi bạn tiến bộ, hãy di chuyển các thẻ qua danh sách để hiển thị trạng thái của chúng.</p></a>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                          <img src="assets/image/Carousel_Image_Boards_2x(1).png" width="700px" height="485px" alt="">
                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                          <img src="assets/image/Carousel_Image_Lists_2x(2).png" width="700px" height="485px" alt="">
                  </div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                          <img src="assets/image/Carousel_Image_Cards_2x(3).png" width="700px" height="485px" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col pt-5">
              <h3 style="color: white;">MeetingRoom có quy trình làm việc cho bất kỳ dự án nào, dù lớn hay nhỏ.</h3><br>
            </div>
            <div class="row">
                <div class="col w-100">
                  <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row">

                              <div class="card me-3" style="width: 18rem;">
                                  <div class="card-body">
                                    <h5 class="p-0 card-title" style="background-color: #ef9e5e; width: 100%; height: 30px; color: white;">Quản Lý Dự Án</h5>
                                    <p class="card-text">Sắp xếp các nhiệm vụ theo thứ tự, đúng thời hạn và các thành viên trong nhóm phù hợp với MeetingRoom</p>
                                  </div>
                              </div>

                              <div class="card me-3" style="width: 18rem;">
                                  <div class="card-body">
                                    <h5 class="p-0 card-title" style="background-color:cyan; width: 100%; height: 30px; color: white;">Cuộc họp</h5>
                                    <p class="card-text">Trao quyền cho các cuộc họp nhóm của bạn để hoạt động hiệu quả hơn, trao quyền nhiều hơn và chúng tôi dám nói—thú vị.</p>
                                  </div>
                              </div>

                              <div class="card me-3" style="width: 18rem;">
                                  <div class="card-body">
                                    <h5 class="p-0 card-title" style="background-color:burlywood; width: 100%; height: 30px; color: white;">Giới thiệu</h5>
                                    <p class="card-text">Việc tham gia vào một công ty hoặc dự án mới thật dễ dàng với bố cục trực quan của MeetingRoom về việc cần làm, tài nguyên và theo dõi tiến độ..</p>
                                  </div>
                              </div>


                              <div class="card me-3" style="width: 18rem;">
                                  <div class="card-body">
                                    <h5 class="p-0 card-title" style="background-color:red; width: 100%; height: 30px; color: white;">Quản lý tác vụ</h5>
                                    <p class="card-text">Sử dụng Trello để theo dõi, quản lý, hoàn thành và tập hợp các nhiệm vụ lại với nhau như những mảnh ghép và giúp các dự án của nhóm bạn luôn thành công một cách gắn kết.</p>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="carousel-item active">
                          <div class="row">
                              <div class="card me-3" style="width: 18rem;">
                                  <div class="card-body">
                                    <h5 class="p-0 card-title" style="background-color:cadetblue; width: 100%; height: 30px; color: white;">Động não</h5>
                                    <p class="card-text">Giải phóng khả năng sáng tạo của nhóm bạn và giữ cho các ý tưởng luôn hiển thị, hợp tác và có thể thực hiện được..</p>
                                  </div>
                              </div>

                              <div class="card me-3" style="width: 18rem;">
                                  <div class="card-body">
                                    <h5 class="p-0 card-title" style="background-color:aquamarine; width: 100%; height: 30px; color: white;">Trung tâm tài nguyên</h5>
                                    <p class="card-text">Tiết kiệm thời gian với một trung tâm được thiết kế tốt giúp các nhóm tìm thấy thông tin một cách dễ dàng và nhanh chóng.</p>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-8 pt-5">
              <h5 class="card-title">Không cần phải bắt đầu lại từ đầu. Bắt đầu quy trình làm việc của bạn bằng cẩm nang
                đã được chứng minh được thiết kế cho các nhóm khác nhau. Tùy chỉnh nó để biến nó thành của bạn.
                </h5>
              </div>
              <div class="col pt-5">
                <button type="button" class="btn btn-outline-primary">Khám phá tất cả trường hợp sử dụng</button>
              </div>
            </div>
          </div>
          <div class="container pt-5" >
            <div class="text-left" >
             <h2><b>Xem công việc theo một cách hoàn toàn mới</b></h2>
             <h4>Xem các dự án của nhóm bạn từ mọi góc độ và mang lại góc nhìn mới mẻ cho nhiệm vụ hiện tại.</h4>
            </div>
            <div class="col pt-3">
              <div class="card mb-3" style="max-width: 90%;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <img src="assets/image/TrelloBoard_Timeline_2x.webp" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-4 pt-5">
                    <div class="card-body">
                      <h5 class="card-title"> <i class="fa-solid fa-timeline" style="color: #B197FC;"></i> LẦN NÀO CŨNG ĐẠT DEADLINE</h5><br>
                      <p class="card-text">Từ chạy nước rút hàng tuần đến lập kế hoạch hàng năm, chế độ xem Dòng thời gian
                        giúp mọi nhiệm vụ đi đúng hướng. Nhanh chóng có được cái nhìn thoáng qua về những gì đang diễn ra
                        và xác định bất kỳ khoảng trống nào có thể cản trở tiến độ của nhóm bạn.</p>
                      <a href="#" class="card-text"><small class="text">Tìm hiểu thêm về chế độ xem Dòng thời gian</small></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 90%;">
                <div class="row g-0">
                  <div class="col-md-4 pt-5">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa-solid fa-calendar-days" style="color: #63E6BE;"></i> LUÔN CẬP NHẬT NHIỆM VỤ</h5><br>
                      <p class="card-text">Bắt đầu mỗi ngày mà không có bất ngờ nào. Cho dù lên lịch biên tập hay cập nhật các
                        việc cần làm, chế độ xem Lịch giống như một quả cầu pha lê giúp bạn có cái nhìn rõ ràng về công việc phía trước.</p>
                      <a href="#" class="card-text"><small class="text">Tìm hiểu thêm về chế độ xem Lịch</small></a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <img src="assets/image/TrelloBoard_Calendar_2x.webp" class="img-fluid rounded-start" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="col pt-5">
             <h5> <b>NHỮNG CÁCH MẠNH MẼ ĐỂ PHÁT TRIỂN</b> </h5>
             <h2> <b>Làm được nhiều hơn với MeetingRoom</b> </h2>
              <p>Các tính năng trực quan của Trello cung cấp cho bất kỳ nhóm nào có khả năng thiết lập và tùy chọn điều chỉnh nhanh chóng công việc cho hầu hết mọi thứ.</p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <img src="https://images.ctfassets.net/rz1oowkt5gyp/gMfkjoA3yWYG3kat3qjpW/3902bfdfccf08869e33d63bbc9d1969b/Integrations_Puzzle.svg" class="card-img-top" alt="...">
                        <h5 class="card-title">Tích hợp</h5>
                        <p class="card-text">Kết nối các ứng dụng mà nhóm của bạn đã sử dụng vào quy trình làm việc Trello của bạn hoặc thêm Power-Up để tinh chỉnh các nhu cầu cụ thể của bạn.</p>
                        <a href="#" class="btn btn-outline-info">Duyệt tích hợp</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <img src="https://images.ctfassets.net/rz1oowkt5gyp/7wxRW93hvb7858bMsK4LSs/f6fc44fb23dbc6ee9bc6a7f6e2af0fb7/Gears.svg" class="card-img-top" alt="...">
                        <h5 class="card-title">Tự động hóa quản gia</h5>
                        <p class="card-text">Tự động hóa không cần mã được tích hợp vào mọi bảng MeetingRoom. Tập trung vào công việc quan trọng nhất và để robot làm phần còn lại.</p>
                        <a href="#" class="btn btn-outline-info">Làm quen với tự động hóa</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <img src="https://images.ctfassets.net/rz1oowkt5gyp/mNa3Mi7T6ga2OTrNxJx1D/8991b8d57cd6ec7330398c7a8757b4dc/Search_Value.svg" class="card-img-top" alt="...">
                        <h5 class="card-title text-left">Doanh nghiệp MeetingRoom</h5>
                        <p class="card-text text-left">Các nhóm công cụ năng suất yêu thích, được kết hợp với các tính năng và bảo mật cần thiết cho quy mô.</p>
                        <a href="#" class="btn btn-outline-info">Khám phá doanh nghiệp</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col pt-5">
                  <div class="card mb-3" style="max-width: 90%;">
                    <div class="row g-0">
                      <div class="col-md-8 pt-5" style="background-image: url('/img/layered-steps-haikei.png');">
                        <h4 class="card-text">Chúng tôi đã sử dụng Trello để cung cấp sự rõ ràng về các bước, yêu cầu và quy trình.
                          Điều này thật đặc biệt khi giao tiếp với các nhóm có sự khác biệt sâu sắc về văn hóa và ngôn ngữ.</h4>
                      </div>
                      <div class="col-md-4 pt-5" style="background-color: #306d89; background-image: linear-gradient(to left, #306d89, #f09d5e);">
                        <div class="card-body">
                          <h1 class="card-text" style="color: white;">74% khách hàng cho biết Trello đã cải thiện khả năng giao tiếp với đồng nghiệp và nhóm của họ.</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container pt-5">
              <h4 class="text-center" style="width: 1140px;">Tham gia cùng hơn 2.000.000 nhóm trên toàn thế giới đang sử dụng MeetingRoom để hoàn thành nhiều việc hơn.</h4>
              <div><img width="1150px" src="/images.ctfassets.net/rz1oowkt5gyp/19rAABnbk8KNNuh3zJzsmr/210fb8ee51dea14595462f844b7c9beb/logos-horizontal-visa-coinbase-john-deere-zoom-grand-hyatt-fender.svg" alt=""></div>
            </div>
            <div class="container pt-5">
              <h2 class="text-center" style="padding-right:150px;color: white;">Bắt đầu với MeetingRoom ngay hôm nay</h2>
              <div>
                <div class="input-group flex-nowrap" style="height: 60px; width: 500px; left: 300px;" >
                  <input type="text" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="addon-wrapping">
                  <button type="button" class="btn btn " style="background-color:#ef9e5e ; color: white;">Đăng Ký Miễn Phí </button>
                </div><br>
              </div>
            </div>
          </div>
        </div>
</div>
    <img class="container-fluid p-0" height="1200px" src="assets/image/stacked-peaks-haikei.png" alt="">
    <div style="background-color: white; width: 100%; height: 1200px;"></div>
    <img class="container-fluid p-0" height="400px" src="assets/image/layered-waves-haikei.png" alt="">
