<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg  ps-5 pt-0 w-100" style="background-color: #ece8e6; position:fixed; top: 0px; ">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="dashboard"><img src="assets/image/18c49ce1ec7dd305506ccefdf709aae7.jpg" width="70px" alt=""><b style="color: #306d89;font-size: 23px;"> MeetingRoom</b></a>
        <div class="collapse navbar-collapse" style="padding-bottom: 5px;" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown pe-3">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Các Không Gian Làm Việc
                  </a>
                  <ul class="dropdown-menu">
                    <li><b class="dropdown-item" href="#">Các không gian làm việc của bạn</b></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-image"></i> Another action</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown pe-3">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Gần Đây
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-image"></i> Another action</a></li>
                  </ul>
              </li>
              <li>
                  <button type="button" class="btn btn pe-3" style="background-color: #306d89; color: white;">Tạo Mới </button>
              </li>

          </ul>
          <ul class="navbar-nav pe-5" style="padding-top: 15px;">
              <li>
                  <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Tìm Kiếm" aria-label="Search">
                  </form>
              </li>
              <li>
                  <p>
                      <button class="btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                          <i class="fa-solid fa-bell"></i>
                      </button>
                  </p>

              </li>
              <li>
                  <p>
                      <button class="btn btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
                          <i class="fa-solid fa-user"></i>
                      </button>
                  </p>

              </li>
          </ul>
        </div>
      </div>
  </nav>

  <div style="min-height: 120px;">
      <div class="collapse multi-collapse" style="position: absolute; right: 0px; top: 60px;" id="collapseWidthExample">
        <div class="card card-body" style="width: 300px;">
          Thông Báo:
          <hr>
          Chưa có thông báo nào
        </div>
      </div>
  </div>
  <div style="min-height: 120px;">
      <div class="collapse multi-collapse" style="position: absolute; right: 0px; top: 60px;" id="collapseWidthExample2">
        <div class="card card-body" style="width: 300px;">
          <b>Tài Khoản</b>
          <div class="row">
              <div class="col">
                  <div class="row">
                      <div class="col">
                          <i class="fa-solid fa-user"></i>
                      </div>
                      <div class="col">
                          <p>
                            {{user.name}}
                            {{user.email}}
                          </p>
                      </div>
                  </div>
                  <p><a class="dropdown-item" href="#">Chuyển Đổi Tài Khoản</a></p>
                  <p><a class="dropdown-item" href="#">Quản Lý Tài Khoản</a></p>
                  <hr>
                  <p><b>MeetingRoom</b></p>
                  <p><a class="dropdown-item" href="#">Hồ Sơ Và Hiển Thị</a></p>
                  <p><a class="dropdown-item" href="#">Hoạt Động</a></p>
                  <p><a class="dropdown-item" href="#">Thẻ</a></p>
                  <p><a class="dropdown-item" href="#">Cài Đặt</a></p>
                  <hr>
                  <p><a class="dropdown-item" href="#">Trợ Giúp</a></p>
                  <p><a class="dropdown-item" href="#" (click)="logOut()">Đăng Xuất</a></p>
              </div>
          </div>
        </div>
      </div>
  </div>

  <div class="container" style="position: relative; bottom: 130px;">
      <div class="row">
          <div class="col-2">
              <div class="list-group list-group-flush">
                  <a href="#" style="color: #306d89; width: 210px;" class="list-group-item list-group-item-action list-group-item-light"> <i class="fa-solid fa-table"></i> Bảng</a>
                  <a href="#" style="color: #306d89; width: 210px;" class="list-group-item list-group-item-action list-group-item-light"><i class="fa-solid fa-list"></i> Mẫu</a>
                  <a href="#" style="color: #306d89; width: 210px;" class="list-group-item list-group-item-action list-group-item-light"> <i class="fa-solid fa-house"></i> Trang Chủ</a>
                  <p class="pt-3">Các không gian làm việc:</p>
                  <div class="d-inline-flex gap-1" style="margin-bottom: -20px;">
                      <a class="btn btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <div class="row">
                              <div class="col">
                                  <i class="fa-solid fa-house"></i>
                              </div>
                              <div class="col" *ngIf="user!==null">
                                  Không gian làm việc của {{user.name}}
                              </div>
                            </div>
                      </a>
                    </div>
                    <div class="collapse pb-5" id="collapseExample">
                      <div class="card card-body">
                          <div class="list-group list-group-flush">
                              <a href="#" style="color: #306d89; " class="list-group-item list-group-item-action list-group-item-light"> <i class="fa-solid fa-table"></i> Bảng</a>
                              <a href="#" style="color: #306d89; " class="list-group-item list-group-item-action list-group-item-light"><i class="fa-solid fa-heart"></i> Điểm nỗi bật</a>
                              <a href="#" style="color: #306d89; " class="list-group-item list-group-item-action list-group-item-light"> <i class="fa-solid fa-user-plus"></i> Thành Viên</a>
                              <a href="#" style="color: #306d89; " class="list-group-item list-group-item-action list-group-item-light"> <i class="fa-solid fa-gear"></i> Cài Đặt</a>
                          </div>
                      </div>
                    </div>
              </div>
          </div>
          <div class="col">
              <div class="col">
                  <h5 style="color: #306d89;"> <b><i class="fa-regular fa-clock"></i> Đã xem gần đây</b></h5>
                  <div class="row">
                      <div class="col-2">
                          <div class="card text-bg-dark">
                              <img src="assets/image/nen7.png" class="card-img" alt="...">
                              <div class="card-img-overlay">
                                <h5 class="card-title">Dự án mới</h5>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col pt-5">
                  <h5 style="color: #306d89;"> <b>CÁC KHÔNG GIAN LÀM VIỆC CỦA BẠN</b></h5>
                  <div class="row">
                      <div class="col-2 me-2" *ngFor="let r of rooms">
                          <div class="card text-bg-dark">
                              <img src="{{r.background}}" class="card-img" alt="...">
                              <div class="card-img-overlay">
                                <h5 class="card-title"><a class="card-title" routerLink="/dashboard/{{r._id}}">{{r.name}}</a></h5>
                              </div>
                            </div>
                      </div>


                      <div class="col-2 me-2">
                          <div class="list-group list-group-flush" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample">
                              <a href="#" style="color: #306d89; height: 105px; " class="list-group-item list-group-item-action list-group-item-dark"> <i class="fa-solid fa-table"></i> Tạo Bảng Mới</a>
                          </div>
                          <div style="min-height: 120px;" class="pt-2">
                              <div class="collapse collapse-horizontal" id="collapseWidthExample4">
                                <div class="card card-body" style="width: 300px;">
                                <form [formGroup]="formAddRoom" (ngSubmit)="onAddRoom()">
                                  <b>Tạo Phòng:</b>
                                  <p>Phông Nền:</p>
                                  <div class="col">
                                          <nav aria-label="Page navigation example">
                                              <ul class="pagination row">
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/nen1.png" name="background"  formControlName="background">
                                                    <img src="assets/image/nen1.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/nen2.png" name="background"  formControlName="background">
                                                    <img src="assets/image/nen2.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/nen3.png" name="background"  formControlName="background">
                                                    <img src="assets/image/nen3.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/nen5.png" name="background"  formControlName="background">
                                                    <img src="assets/image/nen5.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/nen6.png" name="background"  formControlName="background">
                                                    <img src="assets/image/nen6.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/nen7.png" name="background"  formControlName="background">
                                                    <img src="assets/image/nen7.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/nẽn4.png" name="background"  formControlName="background">
                                                    <img src="assets/image/nẽn4.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/stacked-peaks-haikei.png" name="background"  formControlName="background">
                                                    <img src="assets/image/stacked-peaks-haikei.png" width="40px" alt="">
                                                </li>
                                                <li class="page-item col mt-2 form-check"  >
                                                    <input class="form-check-input" type="radio" value="assets/image/layered-waves-haikei.png" name="background"  formControlName="background">
                                                    <img src="assets/image/layered-waves-haikei.png" width="40px" alt="">
                                                </li>
                                              </ul>
                                          </nav>
                                  </div>
                                  <p>Tiêu Đề Bảng <span style="color: red;">*</span></p>
                                  <div class="input-group flex-nowrap">
                                      <input type="text" class="form-control" formControlName="name">
                                  </div>
                                  <small>👋Tiêu đề bảng là bắt buộc</small>
                                  <p class="pt-3">Quyền Xem</p>
                                  <select class="form-select" aria-label="Default select example" formControlName="description">
                                      <option value="Không Gian Làm Việc" selected>Không Gian Làm Việc</option>
                                      <option value="Công Khai">Công Khai</option>
                                      <option value="Riêng Tư">Riêng Tư</option>
                                  </select><br>
                                  <p>Số Lượng Thành Viên <span style="color: red;">*</span></p>
                                  <div class="input-group flex-nowrap">
                                      <input type="number" class="form-control" formControlName="member">
                                  </div>
                                  <button type="submit" [disabled]="formAddRoom.invalid" class="btn btn" style="background-color: #306d89; color: white;">Tạo Mới</button>
                                </form>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>

</div>
