<div class="container p-5 d-flex position-absolute" style="justify-content: center; left: 100px; top: 40px;">
  <div class="card text-center">
    <div class="card-body">
      <a class="navbar-brand" href="#"><img src="/img/18c49ce1ec7dd305506ccefdf709aae7.jpg" width="70px" alt=""><b style="color: #306d89;font-size: 23px;"> MeetingRoom</b></a>
      <p class="card-title pt-3"><b>Đăng ký để tiếp tục !</b></p>
      <form class="" [formGroup]="formSigin" (ngSubmit)="onSigin()">
        <div class="mb-3">
          <input type="email" style="width: 400px;" class="form-control" placeholder="Họ Và Tên" formControlName="name" >
          <div style="color: red; width: 400px; font-family: Arial, Helvetica, sans-serif;"
                *ngIf="formSigin.get('name')?.invalid && (formSigin.get('name')?.dirty ||formSigin.get('name')?.touched)">
                  Vui lòng nhập họ và tên
          </div>
        </div>
          <div class="mb-3">
            <input type="email" style="width: 400px;" class="form-control" placeholder="Email" formControlName="email" >
            <div style="color: red; width: 400px; font-family: Arial, Helvetica, sans-serif;"
                *ngIf="formSigin.get('email')?.invalid && (formSigin.get('email')?.dirty ||formSigin.get('email')?.touched)">
                    <span *ngIf="formSigin.get('email')?.errors?.['required']">Vui lòng nhập email</span>
                    <span *ngIf="formSigin.get('email')?.errors?.['email']">Vui lòng nhập đúng định dạng email</span>
            </div>
          </div>
          <div class="mb-3">
            <input type="password" style="width: 400px;" class="form-control" placeholder="Mật Khẩu" formControlName="password">
            <div style="color: red; width: 400px; font-family: Arial, Helvetica, sans-serif;"
                *ngIf="formSigin.get('password')?.invalid && (formSigin.get('password')?.dirty ||formSigin.get('password')?.touched)">
                  Vui lòng nhập mật khẩu
            </div>
          </div>
          <div class="mb-3" style="display: none">
            <input type="password" style="width: 400px;" class="form-control" placeholder="Mật Khẩu" formControlName="role">
          </div>
          <button type="submit" [disabled]="formSigin.invalid" class="btn btn" style="background-color: #306d89; color: white; width: 400px;">Đăng Ký</button>
        </form>
        <p class="card-title pt-3">Hoặc tiếp tục với: </p>
          <div class="col">
              <button type="button" class="btn btn-outline-light pt-3" style="color: black; width: 400px;" > <img src="assets/image/google-logo-6278331_960_720.webp" width="20px" alt=""> Google</button><br>
              <button type="button" class="btn btn-outline-light pt-3" style="color: black; width: 400px;" > <img src="assets/image/facebook-logo-on-transparent-isolated-background-free-vector.jpg" width="30px" alt=""> Facebook</button><br>
              <button type="button" class="btn btn-outline-light pt-3" style="color: black; width: 400px;" > <img src="assets/image/732221.png" width="20px" alt=""> Microsoft</button><br>
              <button type="button" class="btn btn-outline-light pt-3" style="color: black; width: 400px;" > <img src="assets/image/62dec0259f18b71442a15966_Apple-Logo.png" width="50px" alt=""> Apple</button><br>
          </div>
          <hr>
          <div class="col">
              <a href="#">Bạn không đăng nhập được ? </a> - <a href="sigin.html">Tạo tài khoản</a>
          </div>
        </div>
      </div>
  </div>
<img  class="container-fluid p-0" height="" src="assets/image/Thiết kế chưa có tên.png" alt="">
